.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    display: none;

}
.modal-content {
    width: 300px;
    height: 100px;
    background-color: red;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    position: relative;
}
.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

.chart-container {
    width:100%;
    height: 100%;
}